.title-skills{
    font-size: 25px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content{
    display: flex;
    margin-top: 10px;
    font-family: "Open Sans";
}

.skils-column{
    margin-right: 200px;
    margin-bottom: 20px;
}

.skill-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.circle{
    width: 10px;
    height: 10px;
    border: 1px solid #445FF6;
    border-radius: 50%;
}

.circle{
margin-left: 10px;
}

.full{
    background-color: #445FF6;
}